In [104]:
import pandas as pd
import numpy as np

In [105]:
data=pd.read_csv("./data/diamond.csv.CSV")

In [106]:
data.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,1,0.30,Ideal,E,SI1,62.1,58.0,4.27,4.29,2.66,499
1,2,0.33,Premium,G,IF,60.8,58.0,4.42,4.46,2.70,984
2,3,0.90,Very Good,E,VVS2,62.2,60.0,6.04,6.12,3.78,6289
3,4,0.42,Ideal,F,VS1,61.6,56.0,4.82,4.80,2.96,1082
4,5,0.31,Ideal,F,VVS1,60.4,59.0,4.35,4.43,2.65,779

In [107]:
data=data.drop(labels=["Unnamed: 0"],axis=1)

In [108]:
data

       carat        cut color clarity  depth  table     x     y     z  price
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779
...      ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09   5408
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74   1114
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17   1656
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60    682
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27   5166

[26967 rows x 10 columns]

In [147]:
data.isnull().sum()

carat        0
cut          0
color        0
clarity      0
depth      697
table        0
x            0
y            0
z            0
price        0
dtype: int64

In [149]:
data["depth"].fillna(data["depth"].mean(),inplace=True)

In [150]:
data.duplicated().sum()

34

In [151]:
data.drop_duplicates(inplace=True)

In [152]:
x=data.drop(labels=["price"],axis=1)

In [153]:
y=data[["price"]]

In [154]:
x

       carat        cut color clarity  depth  table     x     y     z
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27

[26933 rows x 9 columns]

In [155]:
y

       price
0        499
1        984
2       6289
3       1082
4        779
...      ...
26962   5408
26963   1114
26964   1656
26965    682
26966   5166

[26933 rows x 1 columns]

In [156]:
x.select_dtypes(include="object").columns

Index(['cut', 'color', 'clarity'], dtype='object')

In [157]:
categorical_col=x.select_dtypes(include="object").columns

In [158]:
x.select_dtypes(exclude="object").columns

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [159]:
numerical_col=x.select_dtypes(exclude="object").columns

In [160]:
data.isnull

<bound method DataFrame.isnull of        carat        cut color clarity  depth  table     x     y     z  price
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779
...      ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09   5408
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74   1114
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17   1656
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60    682
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27   5166

[26933 rows x 10 columns]>

In [161]:
x.select_dtypes(include="object")

             cut color clarity
0          Ideal     E     SI1
1        Premium     G      IF
2      Very Good     E    VVS2
3          Ideal     F     VS1
4          Ideal     F    VVS1
...          ...   ...     ...
26962    Premium     G     SI1
26963      Ideal     H      IF
26964    Premium     E     VS2
26965  Very Good     F    VVS2
26966    Premium     J     SI1

[26933 rows x 3 columns]

In [162]:
# define the customranking for each ordinal variable
cut_categories=["Fair","Good","Very Good","Premium","Ideal"]
color_categories=["D","E","F","G","H","I","J"]
clarity_categories=["I1","SI2", "SI1", "VS2", "VS1", "VVS2","VVS1","IF"]

In [163]:
from sklearn.impute import SimpleImputer ## Handling missing values
from sklearn.preprocessing import StandardScaler ##Handling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder ##Ordinal Encoding
##pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [164]:
num_pipeline=Pipeline(
    
    
    steps=[
        
        ("imputer",SimpleImputer()),
        ("scaler",StandardScaler())
        
    ]
)

In [165]:
cat_pipeline=Pipeline(
    
    
    steps=[
        
        ("imputer",SimpleImputer(strategy="most_frequent")),
        ("ordinaencoder",OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories]))
    ]
)

In [166]:
preprocessor=ColumnTransformer(
    
    
    [
        ("num_pipeline", num_pipeline,numerical_col),
        ("cat_pipeline", cat_pipeline,categorical_col)
    ]
)

In [167]:
## Train test split

In [168]:
from sklearn.model_selection import train_test_split

In [169]:
x_train,x_test,y_tain,_y_test=train_test_split(x,y,test_size=0.30,random_state=30)

In [170]:
preprocessor.fit_transform(x_train)

array([[ 2.57516974e+00,  1.07590425e-01, -2.00453030e-01, ...,
         4.00000000e+00,  4.00000000e+00,  1.00000000e+00],
       [-8.78158722e-01,  1.07590425e-01, -1.10204094e+00, ...,
         4.00000000e+00,  2.00000000e+00,  3.00000000e+00],
       [-8.36300195e-01, -8.97314988e-01,  2.50340926e-01, ...,
         2.00000000e+00,  0.00000000e+00,  3.00000000e+00],
       ...,
       [ 4.61314136e-01,  1.79369383e-01, -6.51246986e-01, ...,
         4.00000000e+00,  0.00000000e+00,  5.00000000e+00],
       [-1.04559283e+00,  1.04071688e+00, -2.00453030e-01, ...,
         1.00000000e+00,  0.00000000e+00,  1.00000000e+00],
       [-1.04559283e+00, -3.56176414e-03, -1.10204094e+00, ...,
         4.00000000e+00,  4.00000000e+00,  5.00000000e+00]])

In [171]:
data.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [172]:
data.duplicated().sum()

0

In [173]:
preprocessor.transform(x_train)

array([[ 2.57516974e+00,  1.07590425e-01, -2.00453030e-01, ...,
         4.00000000e+00,  4.00000000e+00,  1.00000000e+00],
       [-8.78158722e-01,  1.07590425e-01, -1.10204094e+00, ...,
         4.00000000e+00,  2.00000000e+00,  3.00000000e+00],
       [-8.36300195e-01, -8.97314988e-01,  2.50340926e-01, ...,
         2.00000000e+00,  0.00000000e+00,  3.00000000e+00],
       ...,
       [ 4.61314136e-01,  1.79369383e-01, -6.51246986e-01, ...,
         4.00000000e+00,  0.00000000e+00,  5.00000000e+00],
       [-1.04559283e+00,  1.04071688e+00, -2.00453030e-01, ...,
         1.00000000e+00,  0.00000000e+00,  1.00000000e+00],
       [-1.04559283e+00, -3.56176414e-03, -1.10204094e+00, ...,
         4.00000000e+00,  4.00000000e+00,  5.00000000e+00]])

In [174]:
preprocessor.get_feature_names_out()

array(['num_pipeline__carat', 'num_pipeline__depth',
       'num_pipeline__table', 'num_pipeline__x', 'num_pipeline__y',
       'num_pipeline__z', 'cat_pipeline__cut', 'cat_pipeline__color',
       'cat_pipeline__clarity'], dtype=object)

In [175]:
x_train=pd.DataFrame(preprocessor.fit_transform(x_train),columns=preprocessor.get_feature_names_out())
x_test=pd.DataFrame(preprocessor.transform(x_test),columns=preprocessor.get_feature_names_out())

In [176]:
x_train

,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,2.575170,0.107590,-0.200453,2.136790,2.115004,2.044480,4.0,4.0,1.0
1,-0.878159,0.107590,-1.102041,-0.925939,-0.987762,-0.892720,4.0,2.0,3.0
2,-0.836300,-0.897315,0.250341,-0.863796,-0.817870,-0.878994,2.0,0.0,3.0
3,1.507777,0.538264,0.701135,1.417715,1.363902,1.399394,3.0,1.0,2.0
4,0.419456,4.342549,-2.003629,0.308030,0.255133,0.768033,0.0,4.0,1.0
...,...,...,...,...,...,...,...,...,...
18848,-0.187493,-2.045778,2.053517,0.103849,0.049474,-0.151557,3.0,3.0,2.0
18849,-0.627008,-0.897315,-0.200453,-0.526452,-0.504911,-0.577039,4.0,5.0,5.0
18850,0.461314,0.179369,-0.651247,0.663129,0.621742,0.630781,4.0,0.0,5.0
18851,-1.045593,1.040717,-0.200453,-1.352057,-1.336487,-1.194675,1.0,0.0,1.0
18852,-1.045593,-0.003562,-1.102041,-1.289915,-1.327546,-1.194675,4.0,4.0,5.0

In [177]:
x_test

,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,0.817112,0.394706,-1.102041,0.911699,0.961526,0.946461,4.0,3.0,2.0
1,-0.920017,0.825380,-0.651247,-1.076856,-1.041412,-0.933895,2.0,1.0,2.0
2,1.591494,0.394706,2.955105,1.488735,1.453319,1.454295,1.0,6.0,3.0
3,-0.836300,-0.897315,1.151929,-0.863796,-0.835753,-0.892720,3.0,2.0,4.0
4,0.565960,-2.045778,0.250341,0.858434,0.818459,0.534705,3.0,4.0,3.0
...,...,...,...,...,...,...,...,...,...
8075,1.486848,-0.610199,1.602723,1.408837,1.399669,1.248417,3.0,2.0,2.0
8076,-0.103776,1.902064,0.701135,-0.055946,-0.013118,0.164123,1.0,2.0,4.0
8077,-0.940947,0.394706,1.151929,-1.094611,-1.086120,-1.002521,2.0,1.0,4.0
8078,0.545031,0.322927,0.250341,0.636497,0.711159,0.685682,2.0,4.0,2.0
8079,-0.585149,0.538264,-0.651247,-0.490942,-0.522794,-0.426062,3.0,1.0,3.0